:root {
  --highlight-default: rgba(55, 53, 47, 1);
  --highlight-gray: rgba(120, 119, 116, 1);
  --highlight-brown: rgba(159, 107, 83, 1);
  --highlight-orange: rgba(217, 115, 13, 1);
  --highlight-yellow: rgba(203, 145, 47, 1);
  --highlight-teal: rgba(68, 131, 97, 1);
  --highlight-blue: rgba(51, 126, 169, 1);
  --highlight-purple: rgba(144, 101, 176, 1);
  --highlight-pink: rgba(193, 76, 138, 1);
  --highlight-red: rgba(212, 76, 71, 1);
  --highlight-gray_background: rgba(241, 241, 239, 1);
  --highlight-brown_background: rgba(244, 238, 238, 1);
  --highlight-orange_background: rgba(251, 236, 221, 1);
  --highlight-yellow_background: rgba(251, 243, 219, 1);
  --highlight-teal_background: rgba(237, 243, 236, 1);
  --highlight-blue_background: rgba(231, 243, 248, 1);
  --highlight-purple_background: rgba(244, 240, 247, 0.8);
  --highlight-pink_background: rgba(249, 238, 243, 0.8);
  --highlight-red_background: rgba(253, 235, 236, 1);
  --block-color-default: inherit;
  --block-color-gray: rgba(120, 119, 116, 1);
  --block-color-brown: rgba(159, 107, 83, 1);
  --block-color-orange: rgba(217, 115, 13, 1);
  --block-color-yellow: rgba(203, 145, 47, 1);
  --block-color-teal: rgba(68, 131, 97, 1);
  --block-color-blue: rgba(51, 126, 169, 1);
  --block-color-purple: rgba(144, 101, 176, 1);
  --block-color-pink: rgba(193, 76, 138, 1);
  --block-color-red: rgba(212, 76, 71, 1);
  --block-color-gray_background: rgba(241, 241, 239, 1);
  --block-color-brown_background: rgba(244, 238, 238, 1);
  --block-color-orange_background: rgba(251, 236, 221, 1);
  --block-color-yellow_background: rgba(251, 243, 219, 1);
  --block-color-teal_background: rgba(237, 243, 236, 1);
  --block-color-blue_background: rgba(231, 243, 248, 1);
  --block-color-purple_background: rgba(244, 240, 247, 0.8);
  --block-color-pink_background: rgba(249, 238, 243, 0.8);
  --block-color-red_background: rgba(253, 235, 236, 1);
  --select-value-color-pink: rgba(245, 224, 233, 1);
  --select-value-color-purple: rgba(232, 222, 238, 1);
  --select-value-color-green: rgba(219, 237, 219, 1);
  --select-value-color-gray: rgba(227, 226, 224, 1);
  --select-value-color-opaquegray: rgba(255, 255, 255, 0.0375);
  --select-value-color-orange: rgba(250, 222, 201, 1);
  --select-value-color-brown: rgba(238, 224, 218, 1);
  --select-value-color-red: rgba(255, 226, 221, 1);
  --select-value-color-yellow: rgba(253, 236, 200, 1);
  --select-value-color-blue: rgba(211, 229, 239, 1);
  --callout-border-default: 1px solid rgb(223, 223, 222);
  --callout-border-gray: 1px solid rgba(120, 119, 116, 1);
  --callout-border-brown: 1px solid rgba(159, 107, 83, 1);
  --callout-border-orange: 1px solid rgba(217, 115, 13, 1);
  --callout-border-yellow: 1px solid rgba(203, 145, 47, 1);
  --callout-border-teal: 1px solid rgba(68, 131, 97, 1);
  --callout-border-blue: 1px solid rgba(51, 126, 169, 1);
  --callout-border-purple: 1px solid rgba(144, 101, 176, 1);
  --callout-border-pink: 1px solid rgba(193, 76, 138, 1);
  --callout-border-red: 1px solid rgba(212, 76, 71, 1);
}
