@import "components/variables.css";
@import "components/reset.css";
@import "components/notion.css";

content {
  font-size: 0.7em;
  font-weight: 400;
  line-height: 1.5em;
}

a,
a > mark {
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid var(--highlight-blue);
  color: var(--highlight-blue) !important;
  word-break: break-all;
}

.callout {
  border: var(--callout-border-default);
  border-radius: 5px;
}

blockquote {
  font-size: inherit;
}

blockquote,
mark > strong {
  font-weight: 600;
}
.row-flex-center {
  display: flex;
  align-items: center;
}
.row-flex-center h1,
.row-flex-center h2,
.row-flex-center h3 {
  margin-top: inherit;
}
code {
  letter-spacing: 0.05em;
}
summary::marker {
  color: var(--highlight-blue);
}
summary:hover {
  cursor: pointer;
}
